:root {
	--color: #0594ff;
	--dark: #333333;
}

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	background-color: var(--dark);
	text-align: center;
}

/*****Welcome Page code start*****/
.welcome {
	display: grid;
	grid-template-rows: 1fr 10fr 1fr;
	width: 60%;
	height: 90vh;
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}

.welcome h1 {
	margin-bottom: 15vh;
}
.welcome input {
	display: block;
	margin: 0 auto 5vh auto;
	border: none;
	font-size: 1em;
	outline: none;
}

.welcome input[type='button'] {
	color: white;
	background-color: var(--color);
	padding: 10px 15px;
	width: 50%;
}
.welcome input[type='button']:focus {
	border: 1px solid white;
}

.welcome input[type='button']:active {
	border: none;
	transform: scaleX(0.9);
}
/*****Welcome Page code end*****/

@media only screen and (max-width: 1024px) {
	.welcome input[type='button'] {
		width: 70%;
	}
}

@media only screen and (max-width: 768px) {
	.welcome input[type='button'] {
		width: 80%;
	}
}

@media only screen and (max-width: 630px) {
	.welcome {
		width: 90%;
	}
	.welcome input[type='button'] {
		width: 100%;
	}
}
