:root {
	--color: #0594ff;
	--dark: #333333;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', sans-serif;
	box-sizing: border-box;
	color: white;
}

body {
	background-color: var(--dark);
	text-align: center;
}

/*****Welcome Page code start*****/
.welcome {
	display: grid;
	grid-template-rows: 1fr 10fr 1fr;
	width: 60%;
	height: 90vh;
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	color: white;
	text-align: center;
}

.welcome h1 {
	margin-bottom: 15vh;
}
.welcome input {
	display: block;
	margin: 0 auto 5vh auto;
	border: none;
	font-size: 1em;
	outline: none;
}

.welcome input[type='button'] {
	color: white;
	font-weight: 600;
	background-color: var(--color);
	padding: 10px 15px;
	width: 50%;
}
.welcome input[type='button']:focus {
	border: 1px solid white;
}

.welcome input[type='button']:active {
	border: none;
	transform: scaleX(0.9);
}
/*****Welcome Page code end*****/

/*****Local Page code starts*****/

.local {
	width: 60%;
	height: 90vh;
	margin: 0 auto;
}

.local .names {
	display: flex;
	width: 100%;
	place-content: space-around;
	margin-top: 3vh;
	margin-bottom: 5vh;
}

/*****Local Page code ends*****/

/*****Game UI code starts*****/

.game {
	width: 450px;
	height: 450px;
	background-color: var(--color);
	margin: 0 auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	border: none;
}

.game div {
	background-color: var(--dark);
	width: 103%;
	height: 103%;
	color: white;
	font-size: 2em;
	position: relative;
	cursor: pointer;
}

.game div:active {
	background-color: #444444;
}

.game div h1 {
	position: absolute;
	left: 35%;
	top: 15%;
}

/*****Game UI code ends*****/

@media only screen and (max-width: 1024px) {
	.welcome input[type='button'] {
		width: 70%;
	}

	.game {
		width: 400px;
		height: 400px;
	}

	.local {
		width: 65%;
		height: 90vh;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 768px) {
	.welcome input[type='button'] {
		width: 80%;
	}

	.game {
		width: 350px;
		height: 350px;
	}

	.game div {
		font-size: 1.5em;
	}

	.local {
		width: 70%;
		height: 90vh;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 630px) {
	.welcome {
		width: 90%;
	}
	.welcome input[type='button'] {
		width: 100%;
	}

	.game {
		width: 275px;
		height: 275px;
	}

	.game div {
		font-size: 1em;
	}

	.local {
		width: 90%;
		height: 90vh;
		margin: 0 auto;
	}
}
